.TweetInfo{
    width: 90%;
    border: 1px solid grey;
    margin: 10px auto;
    display: flex;
}
.TweetInfo .tweet-bottom {
        display: flex;
        justify-content: space-between;
}
.TweetInfo .text-section {
        margin: 10px;
}
.TweetInfo .image-section {
        border: 1px solid grey;
        border-radius: 50%;
        padding: 20px;
        margin: 8px 35px 11px;
}
.TweetInfo .tweet-bottom span {
        border: 1px solid grey;
        width: 30%;
        height: 10px;
        display: block;
}